before_script:
  - docker info
  - docker login -u "$CI_REGISTRY_USER" -p "$CI_REGISTRY_PASSWORD" $CI_REGISTRY

build:
  stage: build
  script:
    - docker build --pull -t "$CI_REGISTRY_IMAGE:$CI_COMMIT_REF_SLUG" .
    # - docker push "$CI_REGISTRY_IMAGE:$CI_COMMIT_REF_SLUG"

test:
  stage: test
  script:
    - docker run "$CI_REGISTRY_IMAGE:$CI_COMMIT_REF_SLUG"
